PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=cdoov7x9mRp2azx02f5jXPz1V6_KUgda
DRIVE_DISK=local
SESSION_DRIVER=cookie
CACHE_VIEWS=false
DB_CONNECTION=pg
PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=
PG_DB_NAME=adonis_curse
